*bin/*
*obj/*
*.csv
*.asc
*.lock.json
*.swp
*.txt
./vscode/*
.vscode

src/Benchmark/results/fig/*

src/Shared/obj/*
src/Shared/bin/*

src/ProSecCo/obj/*
src/ProSecCo/bin/*

src/PrefixSpan/obj/*
src/PrefixSpan/bin/*

src/Benchmark/common/obj/*
src/Benchmark/common/bin/*

src/Benchmark/client/obj/*
src/Benchmark/client/bin/*

src/Benchmark/server/obj/*
src/Benchmark/server/bin/*


tests/bin/*
tests/obj/*
